{% extends 'base.html' %}

{% block content %}




    <div class="row">

		<div class="col-sm-3 ">
			<div class="list-group">

			<a href="/" class="list-group-item list-group-item-action btn btn-outline-success">همه دسته بندی ها</a>

				{% for category in categories %}
				<a href="/?category={{category.id}}"
				class="list-group-item list-group-item-action btn btn-outline-success ">{{category.name}}</a>
				{% endfor %}
			</div>
		</div>




<div class="container">

    <div class="pb-3 h5">لیست کتاب ها</div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">

        {% for product in products %}

        <div class="col">
            <div class="card shadow-sm">
                <img class="img-fluid" alt="Responsive image" src="{{ product.image.url }}">
                <div class="card-body">
                    <p class="card-text">
                        <a class="text-dark text-decoration-none" href="{{ product.get_absolute_url }}">
                            {{ product.title }}</a>

                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}





{% endblock content %}

