{% extends 'base.html' %}

{% block content %}

{##}
{#		<div class="col-lg-3 mx-auto">#}
{#			<div class="list-group">#}
{##}
{#				<a href="/" class="list-group-item list-group-item-action btn btn-outline-success">همه دسته بندی ها</a>#}
{##}
{#				{% for category in categories %}#}
{#				<a href="/?category={{category.id}}"#}
{#					class="list-group-item list-group-item-action btn btn-outline-success ">{{category.name}}</a>#}
{#				{% endfor %}#}
{#			</div>#}
{#		</div>#}






 <div id='products' class="col-lg-9 mx-auto">
			<div class="row mx-auto">
                    {% for product in products %}
                        <div class="card-img-top">
                      <a href="/books/{{ product.slug }}">
                        <img src="{{ product.image.url }}" alt="{{ product.title }}" style="width: 200px;height: 250px">
                      </a>
                        </div>
					<div class="card-body">
						<p class="card-title"> عنوان :{{product.title}}  </p>
						<p class="card-title">نویسنده :  {{product.author}}  </p>
                        {% if  not product.discount %}
                           <p class="card-text"><b>قیمت: {{product.unit_price}}   </b></p>
                            {% else %}
                            <p class="card-text"><b>قیمت با تخفیف: {{product.total_price}}   </b></p>
                            <p class="card-text" style="text-decoration-line: line-through;">
                                <b>قیمت: {{product.unit_price}}   </b></p>
                            {% endif %}
                        <a href=" {{ product.get_absolute_url }}" class="btn btn-success" role="button">جزییات</a>


					</div>

</div>


{% endfor %}

{% endblock content %}
</div>